
////////////////////themes///////////////////
@mixin themes($text, $back){
  color:$text ;
  background-color: $back;
}

$dark: #262c34;
$white: #eff4f0;
$dark-text:#fff;
$white-text:#373c3f;
$blue:#1590e1;

body{
@include themes($dark-text, $dark)
//  color:$dark-text ;
//  background-color: $dark;
}

///////////grid/////////////
$xxs:  320px;
$xs:  480px;
$sm: 767px;
$_sm: 767px;
$md:  1024px;

$lg: 1200px;
$xlg: 1500px;

$cols: 12;
$gutter: 40px;
// $col: calc(100% / $cols)
// $col: 5.2%

%container{
  margin: 0 auto;
  //box-sizing: border-box;
  //display: flex;
  padding: 0 15px;

min-width: 1000px;
  max-width: 1340px;
  //@media (max-width:$xxs){
  //  width: 100%;
  //  padding: 0 15px;
  //}
  //@media (max-width:$sm){
  //  width: 750px
  //}
  //@media (max-width:$md){
  //  width: 970px
  //}
  //@media (max-width:$lg){
  //  width: 1170px
  //}
  //@media (max-width:$xlg){
  //  width: 1170px
  //}

}



@mixin container($align:space-between, $wrap:wrap){
  @extend %container;
  justify-content: $align;
  flex-wrap: $wrap;
}


@mixin col($num){
  width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
}


///////////////////////patterns////////////////////////
.container{
  @extend %container;
  margin: auto;
}
.face{
  display: inline-block;
  position: relative;
  &-icon{
    width: 14px;
    height: 16px;
    display: none;
    position: absolute;
    bottom: -6px;
    right: 0px;

  }
  img{
    border-radius: 50%;
    overflow: hidden;
  }
  &-status{
    .face-icon{
      display: block;
    }
  }
}
*{
  box-sizing: border-box;
}
%grey-text{
   color: #868a8d;
   font-family: Lato,sans-serif;
 }
%white-text{
  color: #fff;
  font-family: Lato,sans-serif;
}
.grey-text{
  @extend %grey-text
}
%blue-text{
  color: #1592e5;
  font-family: Lato,sans-serif;
}

.short-string{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-over{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.double-vertical{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

//////////////////font-size//////////
